/* .footer {
    background-color: #0f0a0a;
    color: wheat;
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
}
h3 {
    color: #c9c9c9;
    font-size: 17px;
}
p {
    color: #888888;
} */