th {
    /* height: 4px;
    width: 160px; */
    text-align: center;
    vertical-align: middle;
}
/* .inforProduct th {
    color: rgb(168, 147, 147);
} */
.inforProduct:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: rgb(212, 193, 193)
}

.gg {
    height: 20vh;
}